.contenedorCheckout{
    display: flex;
    flex-wrap: wrap; 
    gap: 100px; 
  }
  
.containerItemsCart{
    margin-top:20px;
        padding: 10px;
        border-radius: 10px;
        
        display: flex;
        flex-direction: column;
        width: 600px;
        height: auto;
        background-color: rgb(233, 232, 232);
        right: 10px;
        top: 30px;
}

.tituloTotal{
    
    font-size: 22px;
    font-weight: bold;
    color:rgb(170, 81, 29)
    
}

.notificacionOrden{
    font-size: 22px;
    font-weight: bold;
    color:green;
}

.tituloForm{
    margin-top:20px;
    margin-bottom:20px;
}

.formularioGeneral {
   
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input:focus {
    border-color: #007bff;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:gray;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    /* Color al pasar el mouse */
}

